<div class="create-room-container">
    <div class="image-container">
        <img src="https://images.idgesg.net/images/article/2020/04/zoom_video_conferencing_online_meeting_remote_workers_one_user_connected_via_laptop_with_a_grid_of_twelve_participants_on_screen_2400x1600-100837446-large.jpg?auto=webp&quality=85,70" alt="Image">
    </div>
    <div class="new-meeting">
        <button (click)="onCreateNewMeet()">Create a New Meeting</button>
        <button id="logoutBtn" (click)="onLogout()">Logout</button>
    </div>
</div>